    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-responsive profile" src="/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">
                            <span class="fire">J</span><span class="burn">a</span><span class="fire">y</span>&nbsp;<span class="fire">L</span><span class="burn">i</span><span class="fire">u</span>
                        </span>
                        <hr class="star-light">
                        <span class="skills">{{ site.description }}</span>
                    </div>
                </div>
                <div class="d-none col-md-6">
                    <img class="img-responsive" src="/img/word-cloud.png" alt="">
                </div>
            </div>
        </div>
    </header>
