    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-responsive profile" src="/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.description }}</span>
                    </div>
                </div>
                <div class="d-none col-md-6">
                    <img class="img-responsive" src="/img/word-cloud.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="codepen" data-height="378" data-theme-id="0" data-default-tab="result" data-user="zixingliu" data-slug-hash="ywvveM" style="height: 378px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Lengthy description of my Developer self">
      <span>See the Pen <a href="https://codepen.io/zixingliu/pen/ywvveM/">
      Lengthy description of my Developer self</a> by Zixing Liu (<a href="https://codepen.io/zixingliu">@zixingliu</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
                </div>
            </div>
        </div>
    </header>
<!--
<span class="fire">J</span><span class="burn">a</span><span class="fire">y</span>&nbsp;<span class="fire">L</span><span class="burn">i</span><span class="fire">u</span>
-->