<!-- Timeline Section -->
<script>document.getElementsByTagName("html")[0].className += " js";</script>
<section class="cd-h-timeline js-cd-h-timeline" id="history">
    <div class="cd-h-timeline__container container">
      <div class="cd-h-timeline__dates">
        <div class="cd-h-timeline__line">
          <ol>
            <li><a href="#0" data-date="01/04/2008" class="cd-h-timeline__date cd-h-timeline__date--selected">Apr 2008</a></li>
            <li><a href="#0" data-date="01/01/2014" class="cd-h-timeline__date">Jan 2014</a></li>
            <li><a href="#0" data-date="01/09/2016" class="cd-h-timeline__date">Sep 2016</a></li>
            <li><a href="#0" data-date="01/01/2018" class="cd-h-timeline__date">Jan 2018</a></li>
            <li><a href="#0" data-date="01/02/2019" class="cd-h-timeline__date">Feb 2019</a></li>
            <li><a href="#0" data-date="01/07/2020" class="cd-h-timeline__date">Sep 2020</a></li>
          </ol>

          <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
        </div> <!-- .cd-h-timeline__line -->
      </div> <!-- .cd-h-timeline__dates -->
        
      <ul>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
      </ul>
    </div> <!-- .cd-h-timeline__container -->

    <div class="cd-h-timeline__events">
      <ol>
        <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Lead Developer,<br />Samsung Electronics</h2>
            <em class="cd-h-timeline__event-date">Apr 2008 - Dec 2013, Full-time, Local</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Started as an intern in the product development department of Samsung Electronics Busan (Korea) branch, as the result of winning design in People electronics design contest. Took 2 years to become a junior mobile applications engineer. In year 4, got elevated to the role of lead developer overseeing a team of 7 web/mobile developers and 2 designers
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Freelancing Developer</h2>
            <em class="cd-h-timeline__event-date">Jan 2014 – Aug 2016, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium">
              Worked on ReactJS, NodeJS and Ruby on Rails projects on short-term contractor roles. Find more on <a href="#project-map">freelanced projects section</a>.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Full-stack Developer,<br/>
              <a href="https://www.polco.us" target="_blank">Polco.us</a>
            </h2>
            <em class="cd-h-timeline__event-date">Sep 2016 – Nov 2018, Full-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Contributed to the wider and more transparent citizen engagement in metropolitan policy-making.<br />
              Significant contribution 1: Voter verification flow <br />
              Significant contribution 2: All data visualizations using D3JS <br />
              <hr />
              <i>Ruby on Rails, ReactJS, D3JS, ElasticSearch</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Full-stack Developer,<br/>
              <a href="https://www.striveforcollege.org" target="_blank">Strive for College</a>
            </h2>
            <em class="cd-h-timeline__event-date">Jan 2018 – Feb 2020, Part-time, Volunteer, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Volunteered for the full-stack Javascript developer position, worked 5 hours a week for 2 years to enhance and maintain the virtual mentoring platform. The volunteering decision was made thanks to my deep interest in Education as a cause. <br />
              <hr />
              <i>ReactJS, NodeJS, AWS, Firebase, GraphQL, React Native</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Product Engineer,<br/>
              <a href="https://www.pluginuseful.com" target="_blank">Plug In Useful</a>
            </h2>
            <em class="cd-h-timeline__event-date">Feb 2019 – Aug 2020, Full-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Played a pivotal role in the betterment of top-rated Shopify apps. The current Plug-in-SEO's consumer front-end is the coded solely by me. <br />
              <hr />
              <i>Ruby on Rails, ReactJS, Shopify, Google Analytics</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Here I am</h2>
            <em class="cd-h-timeline__event-date">Sep 2020 - Now</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              While looking for my next job of passion, I am vigorously polishing my skills in ReactJS, NodeJS, Ruby on Rails and GraphQL.
            </p>
          </div>
        </li>

      </ol>
    </div> <!-- .cd-h-timeline__events -->
    <script src="{{ "/js/timeline/util.js" }}"></script>
    <script src="{{ "/js/timeline/swipe-content.js" }}"></script>
    <script src="{{ "/js/timeline/main.js" }}"></script>
  </section>

